<div class="header">
    <p class="logo"></p>
    <p class="company">金欧名车广场</p>
    <ul class="nav" id="topNav">
        <li>
            <a href="###" target="_blank">数据管理</a>
        </li>
        <li>
            <a href="###" target="_blank">库存车辆</a>
        </li>
        <li>
            <a href="###" target="_blank">客户管理</a>
        </li>
        <li>
            <a href="###" target="_blank">联盟列表</a>
        </li>
        <li>
            <a href="###" target="_blank">私人订制</a>
        </li>
    </ul>
    <div class="user">
        <span class="name">周润发</span>
        <i class="arrow-down arrow"></i>
    </div>
    <div class="search">
        <div class="input">
            <input type="text" placeholder="我要找车">
        </div>
        <div class="button">搜索</div>
    </div>
</div>