<div class="footer-box">
    <div class="con">
        <div class="footer">
            <ul class="footer-list">
                <li>
                    <h4>基金销售资格</h4><a href="https://trade.5ifund.com/qualification.html" target="_blank"
                                      class="u-footer_img footer-list_1"></a>
                </li>
                <li>
                    <h4>监督机构</h4><a href="http://www.csrc.gov.cn/" target="_blank"
                                    class="u-footer_img footer-list_2"></a>
                </li>
                <li>
                    <h4>自律组织</h4><a href="http://www.amac.org.cn/" target="_blank"
                                    class="u-footer_img footer-list_3"></a>
                </li>
                <li>
                    <h4>监管银行</h4><a href="http://www.cmbc.com.cn/" target="_blank"
                                    class="u-footer_img footer-list_4"></a>
                </li>
                <li class="nobd">
                    <h4>安全认证</h4><a
                        href="https://sealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=trade.5ifund.com&amp;lang=zh_cn"
                        target="_blank" class="u-footer_img footer-list_5"></a>
                </li>
            </ul>
            <h4 class="pt15">温馨提示</h4>
            <p>
                同花顺爱基金销售业务资格证书[000000307]，其所代销的基金产品销售的所有理财产品（包括公募基金产品、证券公司资产管理计划、基金公司及其子公司专户产品等其他私募投资基金）均为第三方理财管理机构提供。同花顺基金不保证所代销基金产品的基金管理人机构所发布的信息(包含但不限于文字，数据及图表)全部或者部分内容的准确性、真实性、完整性、有效性、及时性、原创性等。所载文字、数据仅供参考，使用前请核实，风险自负。</p>
            <p class="tc"><a href="http://fund.10jqka.com.cn/introduce/introduction.shtml" target="_blank">公司简介</a><span
                    class="u-cut">|</span><a href="http://fund.10jqka.com.cn/introduce/contractus.shtml"
                                             target="_blank">联系我们</a><span class="u-cut">|</span><a
                    href="http://fund.10jqka.com.cn/introduce/service.shtml" target="_blank">客服中心</a><span
                    class="u-cut">|</span><a href="http://fund.10jqka.com.cn/introduce/provision.shtml" target="_blank">免责申明</a>
            </p>
            <p class="tc">郑重申明:本网站所载内容未经许可严禁转载</p>
            <p class="tc"> Copyright&nbsp;©&nbsp;2011-2016&nbsp;同花顺基金销售有限公司&nbsp;版权所有&nbsp;浙ICP备09003598号-1&nbsp;&nbsp;增值电信业务许可证&nbsp;浙B2-20080207&nbsp;<em
                    class="u-icon u-police_img"><!----></em>浙公网安备&nbsp;33011002011820号</p>
        </div>
    </div>
</div>